@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@200&display=swap');


/* Nav Bar Start */
nav{
    display:grid;
    justify-content:flex-end;
    align-items: end;
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: rgb(0, 0, 0);
    color:rgb(178, 178, 1);
}

nav ul {
    display:flex;
    justify-content:end;
}

nav ul li {
    /* list-style: none; */
    font-size: 18px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: poppins;
    /* margin: 15px; */
}

nav ul li a{
    /* text-decoration: none; */
    color: rgb(178, 178, 1);
}
nav ul li a:hover{
    /* color: rgb(255, 255, 0); */
    font-size: 1.2rem;
}

.logoimg {
    border-radius: 100px;
    width: 50px;
    height: 40px;
}

/* .left {
    font-size: 20px;
} */

/* Nav Bar End */

/* Home Page Start */

.name{
    color: white;
    display: flex;
    justify-items: flex-start;
    padding: 40px;
    margin-top: 150px;
    font-size: 30px;
    font-family: poppins;

}

.desc{
    color:#5d5f61;
    font-family: poppins;

}

.info{
    color: white;
    display: flex;
    justify-items: flex-start;
    padding: 40px;
    margin-top: -60px;
    font-size: 50px;
    font-family: poppins;

}

.foot{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

nav img{
    width: 50px;
    height: 40px;
}

/* Home Page End */