/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@200&display=swap');


/* Nav Bar Start */
nav{
    display:grid;
    justify-content:flex-end;
    align-items: end;
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: rgb(0, 0, 0);
    color:rgb(178, 178, 1);
}

nav ul {
    display:flex;
    justify-content:end;
}

nav ul li {
    /* list-style: none; */
    font-size: 18px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: poppins;
    /* margin: 15px; */
}

nav ul li a{
    /* text-decoration: none; */
    color: rgb(178, 178, 1);
}
nav ul li a:hover{
    /* color: rgb(255, 255, 0); */
    font-size: 1.2rem;
}

.logoimg {
    border-radius: 100px;
}

/* .left {
    font-size: 20px;
} */

/* Nav Bar End */

/* Home Page Start */

.name{
    color: white;
    display: flex;
    justify-items: flex-start;
    padding: 40px;
    margin-top: 150px;
    font-size: 30px;
    font-family: poppins;

}

.desc{
    color:rgb(178, 178, 1);
    font-family: poppins;

}

.info{
    color: white;
    display: flex;
    justify-items: flex-start;
    padding: 40px;
    margin-top: -60px;
    font-size: 50px;
    font-family: poppins;

}

.foot{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

nav img{
    width: 50px;
    height: 40px;
}

/* Home Page End */

/* About Page Start */

.accordion-button {
    /* --bs-accordion-bg:black;  */
    /* --bs-accordion-color:black; */
    /* --bs-accordion-btn-bg : rgb(35, 35, 35); */
    /* --bs-accordion-btn-color:white; */
    /* --bs-accordion-active-bg:black; */
    /* --bs-accordion-active-color:white; */
    /* --bs-accordion-btn-focus-box-shadow:none; */
    background-color: rgb(14, 14, 14) !important;
    color: rgb(255, 255, 255) !important;
    /* position: relative; */
    box-shadow: none !important;
    font-family: poppins;

}

.accordion-body {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    font-family: poppins;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}
/* About Page End */

/* Contact Page Start */
/* .forms{
    padding: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-family: poppins;
    display:grid;
    justify-content: center;
    width: 50%;
    margin-left: 350px;
}


.form-control {
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
    box-shadow: none;
} */

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction:column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
}

form h3 {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: #dddddd;
    /* font-size: 16px; */
}

form button {
    padding: 7px;
    background: rgb(57, 57, 236);
    color: #ffff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* Contact Page End */

